/* Mobile screensize settings */
@media screen and (max-width: 600px) {
    .NavMenu.responsive {position: relative;}
    .NavMenuItem {display: none;}
    .NavMenu button.mobileDropbtn{display: block;}  
    .NavMenu button{padding: 15px 4.9vw; max-height: 50px;}
    .NavMenu button:hover {color:rgb(194, 168, 168); .arrow{border:solid rgb(194, 168, 168); border-width: 0 2px 2px 0;}}

    .navbar {height: 50px;}
    .dropdown-content {
      position:fixed;
      top:31px; left:0;
      width:105%;
      padding-left: 20px;
      margin-left: 0px;
    }
    .InformationContainer {
        margin: 71px auto auto auto;
        
    }
    .ServicesMenuContents {
        width: 90%;
    }
    .ServicesMenuItem {
        min-width: 0px;
        min-height: 0px;
    }

}

/* To hide menu items that aren't necessary */
@media screen and (max-width: 864px) {
    .extraInfo {display: none;}
    .KeyItem {padding: 16px 4.5vw;}
    .NavMenu button.regularDropbtn{
        display: block;        
        padding: 2vw;        
    }
    .dropdown-content {
      margin-left: -4.9%;
      
    }
  }


  @media screen and (min-width: 1465px) {

    .ServicesMenuItem {
        min-width: 480px;
        min-height: 380px;
    }
    .ContactUsLinks a {
        max-width: 17ch;
        margin: auto;

    }
    .ContactUsLinks {
        display:flex;
        

    }
}
@media screen and (max-width: 1465px) {

    .ServicesMenuItem {
        width:100%;
        height: auto;
    }
    
}
/*
@media screen and (max-width: 1119px) {


    .ServicesMenuItem {
        width: 90%;
    }

}*/
