/* Navigation bar at the top settings */ 

.navbar {
  display: flex;
  position: fixed;
  padding:0;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  background-color: #00599c;
}

.NavMenu {
  display: flex;
  flex-flow: row wrap;
  padding:0;  
  margin:auto;
  overflow:hidden;  
  
}


/* NavMenu Items settings */

.NavMenuItem {
    width:auto;
    display:block;
    list-style-type: none;
    padding: 16px 2vw;   
    text-decoration: none; 
    color: white;

}

.NavMenuItem:hover {
  color: rgb(194, 168, 168);
}


/* Dropdown class settings */

.NavMenu .dropbtn {
  display:none;
  color:white;
  background-color: #00599c;
  
  font-size: 18px;
  border: none;
  cursor: pointer;
  float:right;
  .show {

    display: block;
  } 
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;

  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: auto auto 3px auto;
}

.NavMenu button:hover{
  color: rgb(194, 168, 168);
  .arrow {
    border: solid rgb(194, 168, 168);
    border-width: 0 2px 2px 0;
  } 

}


  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #002d62;
    border-top: solid rgb(0, 0, 94);
    z-index: 1;
    margin-top: 17px;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    color: rgb(194, 168, 168);
}

